--color
--require spec_helper
--require rspec_junit_formatter
--format documentation
--format Fuubar
--format html --out ./reports/test_results<%= ENV['TEST_ENV_NUMBER'] %>.html
--format RspecJunitFormatter --out ./reports/test_results<%= ENV['TEST_ENV_NUMBER'] %>.xml