--color
--require spec_helper
--format NyanCatWideFormatter 
--format html -o ./reports/test_results-<%= ENV['TEST_ENV_NUMBER'] %>.html 
--format RspecJunitFormatter -o ./reports/test_results-<%= ENV['TEST_ENV_NUMBER'] %>.xml
